<h3>Idea:</h3>

<div class="new-idea container">
  <div class="form-group">
    <label>Name:</label>
    <br>
    <input #newName class="form-control">
  </div>
  <br>
  <div class="form-group">
    <label>Age:</label>
    <br>
    <input type="number" #newAge class="form-control">
  </div>
  <br>
  <div class="form-group">
    <label>Favorite Book of All Time:</label>
    <br>
    <input #newFavorite class="form-control">
  </div>
  <br>
  <div class="form-group">
    <label>Prefer to read:</label>
    <br>
    <input #newPreference class="form-control">
  </div>
  <br>
  <div class="form-group">
    <label>What should we read next?</label>
    <br>
    <input #newSuggests class="form-control">
  </div>
  <br>
  <button class="btn btn-warning" (click)="submitForm(newName.value, newAge.value, newFavorite.value, newPreference.value, newSuggests.value)">Add Member</button>
</div>

<div>
  <app-members></app-members>
</div>
