<h2>Members</h2>

<p>Find the age group that's right for you:</p>
<div class="form-group">
  <select class="form-control" (change)="onChange($event.target.value)">
      <option value="allMembers"  selected="selected">All Bookworms</option>
      <option value="under12">Children</option>
      <option value="13to20">Teens</option>
      <option value="over20">Adults</option>
    </select>
</div>


<div *ngFor="let member of members | async | age:filterByAge" >
  <div>
    <h3 (click)="goToDetailPage(member)">{{member.name}}</h3>
    <h4>Next suggestion: {{member.suggests}}</h4>
    <div *ngIf="currentRoute === '/admin' ">
      <h4>Age: {{member.age}}</h4>
      <h4>Favorite Book: {{member.favorite}}</h4>
      <h4>Loves to read: {{member.preference}}</h4>
      <br>
      <app-update-member [selectedMember]="member"></app-update-member>
    </div>
      <hr>

    </div>
  </div>
  <br><br><br>
